server/.idea
server/.gitignore

ui/node_modules
ui/.pnp
ui/.pnp.js

# testing
ui/coverage

# next.js
ui/.next/
ui/out/
ui/build


# misc
ui/.DS_Store
ui/*.pem

# debug
ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*

# local env files
ui/.env*.local

# vercel
ui/.vercel

# typescript
ui/*.tsbuildinfo
ui/next-env.d.ts

